/* Header */
ul {
    list-style-type: none;
    margin: 5px 10px;
    padding: 5px;
}

header li {
    float: right;
    padding: 10px;
}
li a:visited, li a:link {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: rgb(83, 78, 78);
}

header a:hover {
    text-decoration: underline;
}

.material-icons {
    font-size: 24px;
    opacity: 0.4; 
}

.header-profile-pic {
    border-radius: 50%;
    width: 25px;
    height: auto;
    display: block;

}

/* Body */
.container-body {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    
}
.item-body-logo {
    align-self: center;
    margin-top: 35px;
    margin-left: 200px;
}

.contaier-magglass-searchbox-keyboard {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 200px;
    border: 1px solid lightgrey;
    border-radius: 30px;
    height: 42px;
    overflow:hidden;
}
.contaier-magglass-searchbox-keyboard:hover {
    box-shadow: 0px 0px 3px rgb(194, 194, 194);
}
.item-body-mag-glass-icon {
    flex-direction: start;
    margin: 10px 15px;
}

[type='text'] {
    margin: 5px;
    border: 0;
    height: 30px;
    width: 500px;
    }

[type='text']:focus {
        outline: 0;
    }
.item-body-keyboard-icon {
    flex-direction: end;
    margin: 10px 15px; 
}
.container-searchgoogle-feelinglucky {
    display: flex;
    align-self: center;
    margin-bottom: 20px;
    margin-left: 200px
}

[type='submit'] {
    background-color:rgb(241, 241, 241);
    color: black;
    border: 1px solid transparent;
    border-radius: 2px;
    
    padding: 5px 10px;
    margin: 10px;
}
[type='submit']:hover {
    border: 1px solid grey;
    box-shadow: 2px 2px 2px grey;
    border-radius: 3px;
}
.container-googleprovidedin-English-magyar-Deutsch {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid blue;
    align-self: center;
}
.item-body-google-provided-in {
    font-size: 0.9em;
    display: flex;
    align-self: center;
    margin-bottom: 30px;
    margin-left: 100px;
    
}
.item-body-English {
    font-size: 0.9em;
    margin: 10px;
   
}
.item-body-magyar {
    font-size: 0.9em;
    margin: 10px;
   
}
.item-body-Deutsch {
    font-size: 0.9em;
    margin: 10px;
    
} 
/* Footer */
.container-footer {
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
}
.one {
    margin: 0px;
}
.two {
    margin: 0px;
}
footer  ul {
    background-color:rgb(240, 239, 239);
    overflow: hidden;
    top: 100px;
    bottom: 0px;
    
}
footer a:link, a:visited {
    padding: 5px;
    margin: 5px 10px;
    text-decoration: none;
    color: rgb(83, 78, 78);
}
footer a:hover, a:active {
    text-decoration: underline;
}

hr {
    padding: 0px;
    margin: 0px;
    opacity: 0.15;
} 